.alert-success {
    background-color: green
}

.alert-warning {
    background-color: orange;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: rebeccapurple;}
nav li a{color: skyblue}
input{border: 50%;}
body{
    background-color: blue;
    color: rgb(253, 135, 0);

}